.mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    gap: 30px;
}

.container h1 {
    height: fit-content;
    width: fit-content;
    color: var(--contrast-color);
    font-size: 2em;
    margin-top: 10px;
}

.themeButtonContainer {
    position: fixed;
    border: 2px solid var(--contrast-color);
    border-radius: 2px;
}

.themeButton-light {
    border: none;
    padding: 5px;
    background-color: var(--light-mode-color);
    color: black;
}

.themeButton-dark {
    border: none;
    padding: 5px;
    background-color: var(--light-dark-color);
    color: var(--light-mode-color)
}