.task-light {
    border: 2px solid #4E4E50;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.task-dark {
    composes: task-light;
    border-color: var(--contrast-color-dark);
}

.task-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.input-light {
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 2px;
}

.input-dark {
    composes: input-light;
    background-color: white;
    border-color: black;
}

.button-light {
    padding: 4px;
    border: 1px solid white;
    background-color: transparent;
    color: #C3073F;
    border-radius: 3px;
}

.button-dark {
    composes: button-light;
    border-color: black;
}