@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.mainContainer {
    font-family: 'Source Sans Pro', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-color: #1A1A1D;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* row-gap: 10px; */
    background-color: #1A1A1D;
    align-items: center;
    justify-content: baseline;
}

.container h1 {
    height: fit-content;
    width: fit-content;
    color: #C3073F;
    font-size: 2em;
    margin-top: 10px;
}

.form {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.formGrid {
    padding: 10px;
    height: fit-content;
    background-color: #4E4E50;
    color: white;
    box-shadow: 0px 0px 5px #950740;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    justify-content: center;
}

.formGrid>input {
    padding: 2px;
    font-size: 1.2rem;
    color: #950740;
}

.formGrid>*:nth-child(3) {
    grid-row: 2;
    grid-column: 1 / span 2;
    height: 40px;
}

#submitBtn {
    justify-self: end;
    height: fit-content;
    width: fit-content;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#submitBtn>* {
    height: 35px;
    color: white;
}

.noTasksP {
    color: #4E4E50;
}

.tasks {
    display: grid;
    list-style-type: none;
    gap: 10px;
    justify-content: center;
}

.task {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;  */
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 20px;
}

.task-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.button {
    padding: 4px;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 3px;
}