@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --contrast-color: #C3073F;
    --contrast-color-dark: #950740;
    --dark-color: #1A1A1D;
    --light-dark-color: #4E4E50;
    --light-color: white;
}

body {
    background-color: var(--bg-color);
}